In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

In [72]:
df = pd.read_csv("salaries_cyber_model.csv")
df.head()

  experience_level  salary  remote_ratio company_size
0               EN   63000            50            S
1               MI   95000             0            M
2               MI   70000             0            M
3               EX  315000           100            L
4               SE  220000           100            M

In [73]:
df = df.join( pd.get_dummies(df["experience_level"]) )
df = df.join( pd.get_dummies(df["company_size"], prefix="company_size_") )

In [74]:
df.head()

,experience_level,salary,remote_ratio,company_size,EN,EX,MI,SE,company_size__L,company_size__M,company_size__S
0,EN,63000,50,S,1,0,0,0,0,0,1
1,MI,95000,0,M,0,0,1,0,0,1,0
2,MI,70000,0,M,0,0,1,0,0,1,0
3,EX,315000,100,L,0,1,0,0,1,0,0
4,SE,220000,100,M,0,0,0,1,0,1,0

In [75]:
df.drop("experience_level", axis=1, inplace=True)
df.drop("remote_ratio", axis=1, inplace=True)
df.drop("company_size", axis=1, inplace=True)

In [76]:
df.head()

   salary  EN  EX  MI  SE  company_size__L  company_size__M  company_size__S
0   63000   1   0   0   0                0                0                1
1   95000   0   0   1   0                0                1                0
2   70000   0   0   1   0                0                1                0
3  315000   0   1   0   0                1                0                0
4  220000   0   0   0   1                0                1                0

# Test and Training Split

In [77]:
from sklearn.model_selection import train_test_split

y = df.loc[:, "salary"]
X = df.drop("salary", axis=1)

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=123, 
)

# Validation split

In [78]:
# Creating evaluation data from 20% of the original data

X_train, X_val, y_train, y_val = train_test_split(
    X_train, y_train, test_size=0.25
)

# Scaling

In [79]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

y_train = scaler.fit_transform( y_train.values.reshape(-1, 1) )
y_test = scaler.transform( y_test.values.reshape(-1, 1) )
y_val = scaler.transform( y_val.values.reshape(-1, 1) )

y_train

array([[-0.83126109],
       [-1.05251071],
       [-0.49201168],
       [ 0.02423743],
       [ 0.12748725],
       [ 0.42838673],
       [-0.16751224],
       [-0.44776175],
       [ 0.14223723],
       [-0.72801127],
       [ 1.52873483],
       [-0.68376135],
       [-1.27376033],
       [ 1.01248572],
       [-0.49938667],
       [-0.75751122],
       [ 0.87973595],
       [ 2.4137333 ],
       [ 0.20123712],
       [ 2.78248266],
       [ 0.42838673],
       [ 0.7912361 ],
       [-0.68376135],
       [-0.45661174],
       [ 0.93873585],
       [ 0.58591646],
       [ 0.7912361 ],
       [-0.02001249],
       [-0.66134138],
       [ 0.05373738],
       [-0.56576155],
       [-0.5377366 ],
       [-0.09376237],
       [-0.16751224],
       [ 0.48148664],
       [ 0.20123712],
       [-0.72063628],
       [ 0.0979873 ],
       [-0.16751224],
       [-0.66901137],
       [ 0.56998649],
       [-0.09376237],
       [-0.94926089],
       [ 0.20123712],
       [-0.44776175],
       [-1.50975992],
       [-1.27376033],
       [-0.5362616 ],
       [-0.02001249],
       [ 0.24548705],
       [ 0.20123712],
       [ 1.23373534],
       [-0.31501198],
       [-0.52151163],
       [-0.09376237],
       [ 0.98298577],
       [ 0.12748725],
       [ 1.23521033],
       [-0.66901137],
       [-0.15276226],
       [-0.03623747],
       [-0.05954243],
       [-0.50528665],
       [ 0.26023702],
       [-0.24126211],
       [-0.56576155],
       [ 0.06848735],
       [ 0.0979873 ],
       [-0.5362616 ],
       [-0.09376237],
       [-0.68376135],
       [ 0.55523651],
       [-0.26191208],
       [-0.44776175],
       [-0.69851132],
       [-0.46251173],
       [ 0.64373636],
       [ 0.05373738],
       [-0.09376237],
       [-1.27376033],
       [ 0.11568727],
       [ 0.86498598],
       [ 0.94021085],
       [-0.97876084],
       [ 0.93873585],
       [-0.24126211],
       [-0.15276226],
       [-0.04951244],
       [-0.307637  ],
       [ 0.12748725],
       [-0.70588631],
       [-0.24126211],
       [ 0.56998649],
       [-0.09376237],
       [-1.08201066],
       [ 2.63498291],
       [ 0.64373636],
       [-1.24426038],
       [-0.41722931],
       [-0.7117863 ],
       [ 0.42838673],
       [ 0.64373636],
       [ 0.71453624],
       [ 0.05373738],
       [-1.27376033],
       [-1.08201066],
       [ 1.82373432],
       [-0.35926191],
       [-0.68376135],
       [ 0.20123712],
       [-0.68376135],
       [-0.5362616 ],
       [ 1.52873483],
       [ 1.52873483],
       [ 0.71453624],
       [-0.68376135],
       [-1.05251071],
       [-0.77963618],
       [ 0.12748725],
       [-0.18226221],
       [-0.90501096],
       [-1.09676063],
       [ 0.08323733],
       [-0.91976094],
       [-0.56723655],
       [ 0.17173717],
       [ 1.29273524],
       [ 3.51998138],
       [ 1.32813517],
       [-0.06426242],
       [-0.16751224],
       [-0.97876084],
       [-0.97876084],
       [-0.80176114],
       [-1.12626058],
       [ 0.54048654],
       [ 0.7912361 ],
       [-0.09376237],
       [-1.55400984],
       [-0.75751122],
       [ 0.84728601],
       [-1.02301076],
       [-0.7132613 ],
       [ 0.05373738],
       [ 0.93873585],
       [ 0.08323733],
       [ 1.74998444],
       [-0.30026201],
       [-0.01116251],
       [-0.26928706],
       [ 0.05373738],
       [-0.5952615 ],
       [-0.94926089],
       [ 0.02423743],
       [ 0.12748725],
       [ 0.07291235],
       [-0.56576155],
       [-0.58051152],
       [-0.97876084],
       [ 0.05373738],
       [-0.61443647],
       [-0.09376237],
       [ 0.05373738],
       [-1.27376033],
       [-1.24426038],
       [ 0.05373738],
       [-0.90501096],
       [-0.68376135],
       [ 1.93937412],
       [ 1.82373432],
       [-0.5952615 ],
       [-1.12626058],
       [-0.99351081],
       [-0.87551101],
       [-0.09376237],
       [ 2.36948337],
       [ 0.64373636],
       [-0.4772617 ],
       [-0.50676165],
       [-0.53183661],
       [-0.13801229],
       [-0.19701219],
       [-1.88997001],
       [-0.49201168],
       [ 0.60833642],
       [-0.56576155],
       [-1.07463567],
       [ 1.38123508],
       [-0.24126211],
       [-0.02001249],
       [-0.15276226],
       [ 0.93873585],
       [-1.12626058],
       [ 1.23373534],
       [-0.5362616 ],
       [ 2.20723365],
       [ 0.56998649],
       [-0.93451091],
       [ 2.04498393],
       [-0.90501096],
       [-0.56576155],
       [ 2.26623355],
       [ 0.05373738],
       [-1.12626058],
       [ 0.95348582],
       [ 0.42543674],
       [ 0.64373636],
       [-0.45071175],
       [-0.79291116],
       [ 0.34873687],
       [ 0.34873687],
       [-1.20001045],
       [-0.02001249],
       [-0.68376135],
       [ 0.64373636],
       [-0.46251173],
       [-0.65912889],
       [-0.02001249],
       [-1.12626058],
       [-0.31501198],
       [ 1.38123508],
       [-0.43301178],
       [ 0.82811104],
       [ 0.34873687],
       [-0.09376237],
       [ 1.05673564],
       [-0.80766113],
       [-0.02001249],
       [ 1.04198567],
       [ 1.04198567],
       [ 1.08623559],
       [-0.38876186],
       [-0.93008592],
       [-0.31501198],
       [ 1.23373534],
       [ 2.70873279],
       [ 0.07291235],
       [-0.5362616 ],
       [-0.38876186],
       [-0.24126211],
       [-0.6542614 ],
       [-0.90501096],
       [-0.24126211],
       [ 1.2558603 ],
       [ 0.56998649],
       [ 0.64373636],
       [-0.02001249],
       [ 1.23373534],
       [-0.38876186],
       [ 1.82373432],
       [ 0.49623661],
       [ 0.0389874 ],
       [ 0.05963737],
       [-0.20069968],
       [ 0.67235131],
       [-0.09376237],
       [ 0.49623661],
       [-0.13801229],
       [ 1.23521033],
       [-0.45071175],
       [-0.41826181],
       [ 0.20123712],
       [-0.93451091],
       [ 0.12748725],
       [-0.75751122],
       [ 1.14606149],
       [ 0.34991687],
       [-0.90501096],
       [ 0.20123712],
       [ 0.23073707],
       [-1.0008858 ],
       [-1.12626058],
       [-1.27376033],
       [ 0.7912361 ],
       [-0.50676165],
       [-0.882886  ],
       [ 2.4137333 ],
       [ 0.52573656],
       [-0.80176114],
       [-0.90501096],
       [ 0.12748725],
       [-0.15276226],
       [-0.24126211],
       [-0.24126211],
       [-0.06426242],
       [ 0.25433703],
       [ 6.83872564],
       [-0.89026099],
       [-0.88731099],
       [-0.78848617],
       [ 1.27061027],
       [ 0.42248674],
       [-0.24126211],
       [-0.5952615 ],
       [ 0.42248674],
       [-0.47136171],
       [-1.07168568],
       [-0.6542614 ],
       [-0.09376237],
       [-0.5362616 ],
       [-0.75751122],
       [-0.32976196],
       [ 0.24548705],
       [ 1.24111032],
       [-1.27376033],
       [-0.24126211],
       [ 0.274987  ],
       [ 0.20123712],
       [-0.58788651],
       [-0.83126109],
       [-1.06873568],
       [-0.09376237],
       [-0.68376135],
       [ 0.34991687],
       [ 0.05373738],
       [ 0.65848633],
       [-0.05142994],
       [ 1.46973493],
       [-1.12626058],
       [ 3.29873177],
       [-0.19701219],
       [-0.69851132],
       [-1.3460352 ],
       [-0.27356456],
       [ 0.74698618],
       [ 0.20507212],
       [-0.6542614 ],
       [-0.06426242],
       [-0.41826181],
       [ 0.20123712],
       [-1.30326027],
       [ 0.23073707],
       [-0.12326232],
       [ 0.49300637],
       [-0.24126211],
       [-0.24126211],
       [ 0.0979873 ],
       [ 1.97123406],
       [-1.05251071],
       [-0.13801229],
       [-1.05251071],
       [ 1.23373534],
       [ 0.42838673],
       [ 0.94021085],
       [-0.79143616],
       [-1.20001045],
       [-0.5362616 ],
       [ 0.49623661],
       [ 6.83872564],
       [-0.02001249],
       [ 0.11273728],
       [-0.51634914],
       [-0.32976196],
       [ 1.52873483],
       [-0.82978609],
       [-1.56875982],
       [ 1.80898434],
       [-0.83126109],
       [ 0.34873687],
       [-1.05251071],
       [-1.27376033],
       [ 0.93873585],
       [ 1.6024847 ],
       [-0.24126211],
       [ 1.6024847 ],
       [-0.63951142],
       [ 1.4844849 ],
       [-0.31501198],
       [-0.09376237],
       [ 1.67623457],
       [-0.5362616 ],
       [ 0.53311155],
       [ 0.68798628],
       [-0.75751122],
       [-0.38876186],
       [-0.68376135],
       [-1.15576053],
       [-0.05954243],
       [-0.44776175],
       [ 0.24548705],
       [ 0.94021085],
       [-0.46251173],
       [ 0.49623661],
       [-0.18226221],
       [-1.0014463 ],
       [-0.83126109],
       [ 0.20123712],
       [-0.24126211],
       [-0.84601107],
       [-0.90501096],
       [ 0.49623661],
       [-0.66016139],
       [-0.25601209],
       [-0.15276226],
       [ 0.42248674],
       [-1.11151061],
       [-0.17783722],
       [-0.38876186],
       [ 1.52873483],
       [-0.99498581],
       [ 1.70573452],
       [ 2.22935862],
       [-0.61001147],
       [ 0.56998649],
       [-0.10851234],
       [-0.31501198],
       [-0.58051152],
       [ 0.30448694],
       [ 1.41073503],
       [-0.0745874 ],
       [-0.52151163],
       [ 0.49623661],
       [ 0.93873585],
       [-0.38876186],
       [-0.90501096],
       [-1.2295104 ],
       [ 0.20123712],
       [-1.08201066],
       [-0.09376237],
       [-0.7132613 ],
       [-0.02001249],
       [-0.31501198],
       [-0.27076206],
       [-0.5362616 ],
       [ 1.04198567],
       [-0.68376135],
       [ 1.67623457],
       [ 2.70873279],
       [ 0.05373738],
       [-0.5362616 ],
       [-0.09376237],
       [ 0.49623661],
       [-0.04951244],
       [ 0.42838673],
       [ 0.71748623],
       [ 0.34873687],
       [ 0.00948745],
       [ 0.64373636],
       [ 0.20123712],
       [-0.83126109],
       [-0.83126109],
       [-1.27376033],
       [-0.16751224],
       [-0.75751122],
       [-0.05954243],
       [-0.02001249],
       [ 0.30448694],
       [-0.16751224],
       [-0.31501198],
       [-0.02001249],
       [ 0.34991687],
       [ 1.10098557],
       [-1.03318824],
       [-0.19701219],
       [-0.68376135],
       [-0.94926089],
       [-0.5362616 ],
       [-0.5362616 ],
       [-0.05954243],
       [-1.12626058],
       [ 0.05373738],
       [-0.90501096],
       [ 1.05378565],
       [ 0.56998649],
       [ 0.12748725],
       [-0.87610101],
       [ 1.70573452],
       [-1.27376033],
       [-0.75751122],
       [-0.31501198],
       [-0.94926089],
       [-0.77226119],
       [-0.90501096],
       [ 0.34873687],
       [-0.21176216],
       [-0.02001249],
       [-0.97876084],
       [-0.86076104],
       [-1.20001045],
       [-1.12626058],
       [-1.30326027],
       [-0.56576155],
       [-0.09379187],
       [ 0.64373636],
       [-0.97876084],
       [-0.63066144],
       [ 0.56998649],
       [ 1.23521033],
       [ 0.64373636],
       [ 0.95348582],
       [ 0.274987  ],
       [-0.4772617 ],
       [ 5.36372819],
       [ 0.45198669],
       [ 2.25148358],
       [-0.12326232],
       [ 3.88873075],
       [ 0.56998649],
       [ 0.18353715],
       [-0.66901137],
       [-0.09376237],
       [ 0.64373636],
       [ 0.05373738],
       [ 1.99483402],
       [-1.3475102 ],
       [-0.24126211],
       [ 0.47263665],
       [-1.71625956],
       [-0.41826181],
       [ 0.20123712],
       [-0.72801127],
       [ 0.54048654],
       [-0.50676165],
       [-0.75751122],
       [-0.24126211],
       [-0.68376135],
       [-0.84601107],
       [-0.05954243],
       [-0.5369991 ],
       [ 0.34873687],
       [-0.94926089],
       [-0.03476247]])

# Modeling

## Linear Regression as Baseline

In [80]:
X_train

     EN  EX  MI  SE  company_size__L  company_size__M  company_size__S
747   1   0   0   0                1                0                0
857   1   0   0   0                0                0                1
109   0   0   0   1                1                0                0
526   0   0   0   1                1                0                0
65    0   0   0   1                0                1                0
..   ..  ..  ..  ..              ...              ...              ...
198   0   0   0   1                0                1                0
537   0   0   1   0                1                0                0
439   0   0   1   0                0                0                1
14    1   0   0   0                1                0                0
622   0   0   0   1                1                0                0

[522 rows x 7 columns]

In [81]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error 

reg = LinearRegression().fit(X_train, y_train)

y_pred = reg.predict(X_val)
reg.score(X_val, y_val), mean_squared_error(y_val, y_pred, squared=True)

(0.32633875671605717, 0.45498201355913126)

In [97]:
reg.coef_

array([[-0.98157661,  1.24608955, -0.48704373,  0.2225308 ,  0.10616191,
         0.08739461, -0.19355652]])

In [99]:
import pickle

f = open("./models/linear_regression.sav", "wb")
pickle.dump(reg, f)
f.close()

f = open("./models/standard_scalar.sav", "wb")
pickle.dump(scaler, f)
f.close()

In [84]:
y_pred = reg.predict( [[1, 0, 0, 0, 1, 0, 0]] )
salary = scaler.inverse_transform( y_pred )
salary

e:\Programme\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[79424.78706306]])

## Polynomial Features

In [31]:
from sklearn.preprocessing import PolynomialFeatures

for degree in range(2, 14):
    # Fit and transform data
    poly_features = PolynomialFeatures(degree=degree, include_bias=False)
    X_poly = poly_features.fit_transform(X_train)

    X_eval_transformed = poly_features.transform(X_eval)

    # Fit model on transformed data
    lin_reg = LinearRegression()
    lin_reg.fit(X_poly, y_train)

    # Evaluate model
    y_pred = lin_reg.predict(X_eval_transformed)
    mse = mean_squared_error(y_eval, y_pred, squared=True)

    print(f"Degree of Polynom: {degree}, MSE: {mse}")

Degree of Polynom: 2, MSE: 5.943031453024743e+24
Degree of Polynom: 3, MSE: 1.5594982921145765e+25
Degree of Polynom: 4, MSE: 7.084791095222776e+24
Degree of Polynom: 5, MSE: 4.671071151531031e+25
Degree of Polynom: 6, MSE: 3.764742750040559e+24
Degree of Polynom: 7, MSE: 5.06456494484265e+24
Degree of Polynom: 8, MSE: 3.7834808525459363e+24
Degree of Polynom: 9, MSE: 1.0800809237243628e+23
Degree of Polynom: 10, MSE: 4.259187570987126e+25
Degree of Polynom: 11, MSE: 4.6827767354813393e+24
Degree of Polynom: 12, MSE: 1.9120787775552895e+23
Degree of Polynom: 13, MSE: 3.0643497139890384e+24

## Ridge Regression

In [33]:
from sklearn.linear_model import Ridge, RidgeCV

#ridge_reg = Ridge( alpha=0.1, solver="cholesky" )
#ridge_reg.fit(X_train, y_train)
ridge_reg = RidgeCV(alphas=(0.0001, 0.001, 0.01, 0.1, 1, 2, 3)).fit(X_train, y_train)

y_pred = ridge_reg.predict( X_eval )
mean_squared_error(y_eval, y_pred, squared=True)

0.9101521905927887

In [34]:
ridge_reg.alpha_

1.0

In [112]:
ridge_reg.best_score_

-0.6035605016572188

## Lasso Regression

In [35]:
from sklearn.linear_model import LassoCV

reg = LassoCV(cv=5).fit(X_train, y_train)

y_pred = reg.predict( X_eval )
mean_squared_error(y_eval, y_pred, squared=True)

e:\Programme\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:1571: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9086181604992466

## Deep Learning

In [93]:
import tensorflow as tf

from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import MeanSquaredError

model = Sequential([
    Dense(32, input_dim=7, activation="relu"),
    Dense(16, activation="relu"),
    Dense(1)
])

model.compile(loss=MeanSquaredError(), optimizer=Adam(learning_rate=0.01))

history = model.fit(
    x=X_train,
    y=y_train,
    epochs=20,
    validation_data=(X_val, y_val),
)

Epoch 1/20
17/17 [==============================] - 0s 10ms/step - loss: 0.8142 - val_loss: 0.5112
Epoch 2/20
17/17 [==============================] - 0s 3ms/step - loss: 0.7240 - val_loss: 0.4617
Epoch 3/20
17/17 [==============================] - 0s 3ms/step - loss: 0.6587 - val_loss: 0.4799
Epoch 4/20
17/17 [==============================] - 0s 3ms/step - loss: 0.6506 - val_loss: 0.4650
Epoch 5/20
17/17 [==============================] - 0s 3ms/step - loss: 0.6559 - val_loss: 0.4908
Epoch 6/20
17/17 [==============================] - 0s 3ms/step - loss: 0.6623 - val_loss: 0.4648
Epoch 7/20
17/17 [==============================] - 0s 3ms/step - loss: 0.6428 - val_loss: 0.4643
Epoch 8/20
17/17 [==============================] - 0s 3ms/step - loss: 0.6643 - val_loss: 0.4743
Epoch 9/20
17/17 [==============================] - 0s 3ms/step - loss: 0.6468 - val_loss: 0.4604
Epoch 10/20
17/17 [==============================] - 0s 3ms/step - loss: 0.6413 - val_loss: 0.4701
Epoch 11/20
17/17 [==============================] - 0s 3ms/step - loss: 0.6450 - val_loss: 0.4602
Epoch 12/20
17/17 [==============================] - 0s 6ms/step - loss: 0.6373 - val_loss: 0.4726
Epoch 13/20
17/17 [==============================] - 0s 3ms/step - loss: 0.6357 - val_loss: 0.4627
Epoch 14/20
17/17 [==============================] - 0s 3ms/step - loss: 0.6323 - val_loss: 0.4624
Epoch 15/20
17/17 [==============================] - 0s 3ms/step - loss: 0.6364 - val_loss: 0.4659
Epoch 16/20
17/17 [==============================] - 0s 3ms/step - loss: 0.6423 - val_loss: 0.4647
Epoch 17/20
17/17 [==============================] - 0s 3ms/step - loss: 0.6363 - val_loss: 0.4736
Epoch 18/20
17/17 [==============================] - 0s 3ms/step - loss: 0.6374 - val_loss: 0.4588
Epoch 19/20
17/17 [==============================] - 0s 3ms/step - loss: 0.6410 - val_loss: 0.4681
Epoch 20/20
17/17 [==============================] - 0s 3ms/step - loss: 0.6400 - val_loss: 0.4691

In [39]:
X_train

     EN  EX  MI  SE  company_size__L  company_size__M  company_size__S
533   0   0   1   0                1                0                0
651   0   0   1   0                0                1                0
40    0   0   0   1                0                1                0
768   0   0   1   0                1                0                0
870   0   0   0   1                1                0                0
..   ..  ..  ..  ..              ...              ...              ...
453   1   0   0   0                0                0                1
699   0   1   0   0                1                0                0
562   0   0   0   1                1                0                0
63    0   0   0   1                0                1                0
47    0   0   0   1                0                1                0

[522 rows x 7 columns]

In [42]:
# Entry level, large company
scaler.inverse_transform( model.predict([[1, 0, 0, 0, 1, 0, 0]]) )

1/1 [==============================] - 0s 42ms/step

array([[66583.055]], dtype=float32)

In [43]:
!pip install -q -U keras-tuner

In [95]:
import keras_tuner as kt

def model_builder(hp):
    model = Sequential([
        Dense(32, input_dim=7, activation="relu"),
        Dense(16, activation="relu"),
        Dense(1)
    ])

    hp_learning_rate = hp.Choice("learning_rate", values=[0.1, 0.01, 0.001, 0.00001])
    model.compile(loss=MeanSquaredError(), optimizer=Adam(learning_rate=hp_learning_rate))

    return model


tuner = kt.Hyperband(
    model_builder,
    objective=kt.Objective("val_loss", direction="min"),
    max_epochs=30,
    factor=3,
    directory="hp_tuning",
    project_name="cyber_salary_estimator"
)

tuner.search(
    X_train, 
    y_train, 
    epochs=50,
    validation_data=(X_val, y_val),
)

best_hps=tuner.get_best_hyperparameters(num_trials=1)[0]
best_learning_rate = best_hps["learning_rate"]

print(f"Best learning rate: {best_learning_rate}")

INFO:tensorflow:Reloading Tuner from hp_tuning\cyber_salary_estimator\tuner0.json
INFO:tensorflow:Oracle triggered exit
Best learning rate: 0.01

In [46]:
model = tuner.hypermodel.build(best_hps)
history = model.fit(X_train, y_train, epochs=30, validation_data=(X_eval, y_eval))

val_rmse_per_epoch = history.history["val_root_mean_squared_error"]
best_epoch = val_rmse_per_epoch.index(min(val_rmse_per_epoch)) + 1
print('Best epoch: %d' % (best_epoch,))

Epoch 1/30
17/17 [==============================] - 0s 10ms/step - loss: 0.6737 - root_mean_squared_error: 0.9071 - val_loss: 0.6451 - val_root_mean_squared_error: 1.0994
Epoch 2/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5919 - root_mean_squared_error: 0.8452 - val_loss: 0.5795 - val_root_mean_squared_error: 1.0430
Epoch 3/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5337 - root_mean_squared_error: 0.7911 - val_loss: 0.5497 - val_root_mean_squared_error: 0.9944
Epoch 4/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5127 - root_mean_squared_error: 0.7683 - val_loss: 0.5681 - val_root_mean_squared_error: 1.0147
Epoch 5/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5106 - root_mean_squared_error: 0.7731 - val_loss: 0.5504 - val_root_mean_squared_error: 0.9772
Epoch 6/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5095 - root_mean_squared_error: 0.7651 - val_loss: 0.5726 - val_root_mean_squared_error: 1.0191
Epoch 7/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5092 - root_mean_squared_error: 0.7668 - val_loss: 0.5509 - val_root_mean_squared_error: 0.9783
Epoch 8/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5080 - root_mean_squared_error: 0.7674 - val_loss: 0.5501 - val_root_mean_squared_error: 0.9822
Epoch 9/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5088 - root_mean_squared_error: 0.7721 - val_loss: 0.5454 - val_root_mean_squared_error: 0.9663
Epoch 10/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5111 - root_mean_squared_error: 0.7547 - val_loss: 0.5699 - val_root_mean_squared_error: 1.0027
Epoch 11/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5177 - root_mean_squared_error: 0.7724 - val_loss: 0.5475 - val_root_mean_squared_error: 0.9853
Epoch 12/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5089 - root_mean_squared_error: 0.7712 - val_loss: 0.5582 - val_root_mean_squared_error: 0.9949
Epoch 13/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5068 - root_mean_squared_error: 0.7673 - val_loss: 0.5529 - val_root_mean_squared_error: 0.9801
Epoch 14/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5099 - root_mean_squared_error: 0.7618 - val_loss: 0.5548 - val_root_mean_squared_error: 0.9906
Epoch 15/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5069 - root_mean_squared_error: 0.7660 - val_loss: 0.5532 - val_root_mean_squared_error: 0.9873
Epoch 16/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5105 - root_mean_squared_error: 0.7707 - val_loss: 0.5492 - val_root_mean_squared_error: 0.9782
Epoch 17/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5092 - root_mean_squared_error: 0.7643 - val_loss: 0.5568 - val_root_mean_squared_error: 0.9895
Epoch 18/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5118 - root_mean_squared_error: 0.7647 - val_loss: 0.5587 - val_root_mean_squared_error: 0.9945
Epoch 19/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5078 - root_mean_squared_error: 0.7716 - val_loss: 0.5478 - val_root_mean_squared_error: 0.9659
Epoch 20/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5119 - root_mean_squared_error: 0.7632 - val_loss: 0.5501 - val_root_mean_squared_error: 0.9787
Epoch 21/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5080 - root_mean_squared_error: 0.7644 - val_loss: 0.5559 - val_root_mean_squared_error: 0.9911
Epoch 22/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5070 - root_mean_squared_error: 0.7673 - val_loss: 0.5456 - val_root_mean_squared_error: 0.9674
Epoch 23/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5062 - root_mean_squared_error: 0.7567 - val_loss: 0.5637 - val_root_mean_squared_error: 0.9994
Epoch 24/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5092 - root_mean_squared_error: 0.7720 - val_loss: 0.5518 - val_root_mean_squared_error: 0.9881
Epoch 25/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5101 - root_mean_squared_error: 0.7591 - val_loss: 0.5532 - val_root_mean_squared_error: 0.9781
Epoch 26/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5105 - root_mean_squared_error: 0.7725 - val_loss: 0.5482 - val_root_mean_squared_error: 0.9716
Epoch 27/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5143 - root_mean_squared_error: 0.7603 - val_loss: 0.5589 - val_root_mean_squared_error: 0.9901
Epoch 28/30
17/17 [==============================] - 0s 4ms/step - loss: 0.5109 - root_mean_squared_error: 0.7707 - val_loss: 0.5546 - val_root_mean_squared_error: 0.9850
Epoch 29/30
17/17 [==============================] - 0s 3ms/step - loss: 0.5095 - root_mean_squared_error: 0.7734 - val_loss: 0.5482 - val_root_mean_squared_error: 0.9830
Epoch 30/30
17/17 [==============================] - 0s 5ms/step - loss: 0.5102 - root_mean_squared_error: 0.7670 - val_loss: 0.5523 - val_root_mean_squared_error: 0.9814
Best epoch: 19

In [47]:
hypermodel = tuner.hypermodel.build(best_hps)
hypermodel.fit(X_train, y_train, epochs=best_epoch, validation_data=(X_eval, y_eval))

Epoch 1/19
17/17 [==============================] - 0s 10ms/step - loss: 0.6425 - root_mean_squared_error: 0.8919 - val_loss: 0.6131 - val_root_mean_squared_error: 1.0716
Epoch 2/19
17/17 [==============================] - 0s 3ms/step - loss: 0.5630 - root_mean_squared_error: 0.8212 - val_loss: 0.5799 - val_root_mean_squared_error: 1.0494
Epoch 3/19
17/17 [==============================] - 0s 3ms/step - loss: 0.5301 - root_mean_squared_error: 0.7973 - val_loss: 0.5550 - val_root_mean_squared_error: 0.9945
Epoch 4/19
17/17 [==============================] - 0s 3ms/step - loss: 0.5154 - root_mean_squared_error: 0.7601 - val_loss: 0.5719 - val_root_mean_squared_error: 1.0152
Epoch 5/19
17/17 [==============================] - 0s 3ms/step - loss: 0.5162 - root_mean_squared_error: 0.7761 - val_loss: 0.5520 - val_root_mean_squared_error: 0.9913
Epoch 6/19
17/17 [==============================] - 0s 3ms/step - loss: 0.5096 - root_mean_squared_error: 0.7726 - val_loss: 0.5569 - val_root_mean_squared_error: 0.9926
Epoch 7/19
17/17 [==============================] - 0s 3ms/step - loss: 0.5104 - root_mean_squared_error: 0.7593 - val_loss: 0.5596 - val_root_mean_squared_error: 0.9900
Epoch 8/19
17/17 [==============================] - 0s 3ms/step - loss: 0.5165 - root_mean_squared_error: 0.7697 - val_loss: 0.5497 - val_root_mean_squared_error: 0.9687
Epoch 9/19
17/17 [==============================] - 0s 3ms/step - loss: 0.5134 - root_mean_squared_error: 0.7778 - val_loss: 0.5609 - val_root_mean_squared_error: 1.0115
Epoch 10/19
17/17 [==============================] - 0s 3ms/step - loss: 0.5114 - root_mean_squared_error: 0.7656 - val_loss: 0.5556 - val_root_mean_squared_error: 0.9941
Epoch 11/19
17/17 [==============================] - 0s 3ms/step - loss: 0.5071 - root_mean_squared_error: 0.7655 - val_loss: 0.5535 - val_root_mean_squared_error: 0.9871
Epoch 12/19
17/17 [==============================] - 0s 3ms/step - loss: 0.5082 - root_mean_squared_error: 0.7688 - val_loss: 0.5551 - val_root_mean_squared_error: 0.9842
Epoch 13/19
17/17 [==============================] - 0s 3ms/step - loss: 0.5077 - root_mean_squared_error: 0.7656 - val_loss: 0.5508 - val_root_mean_squared_error: 0.9858
Epoch 14/19
17/17 [==============================] - 0s 3ms/step - loss: 0.5076 - root_mean_squared_error: 0.7672 - val_loss: 0.5556 - val_root_mean_squared_error: 0.9865
Epoch 15/19
17/17 [==============================] - 0s 3ms/step - loss: 0.5070 - root_mean_squared_error: 0.7652 - val_loss: 0.5509 - val_root_mean_squared_error: 0.9842
Epoch 16/19
17/17 [==============================] - 0s 3ms/step - loss: 0.5086 - root_mean_squared_error: 0.7691 - val_loss: 0.5532 - val_root_mean_squared_error: 0.9833
Epoch 17/19
17/17 [==============================] - 0s 3ms/step - loss: 0.5071 - root_mean_squared_error: 0.7645 - val_loss: 0.5519 - val_root_mean_squared_error: 0.9845
Epoch 18/19
17/17 [==============================] - 0s 3ms/step - loss: 0.5061 - root_mean_squared_error: 0.7676 - val_loss: 0.5503 - val_root_mean_squared_error: 0.9797
Epoch 19/19
17/17 [==============================] - 0s 5ms/step - loss: 0.5088 - root_mean_squared_error: 0.7600 - val_loss: 0.5542 - val_root_mean_squared_error: 0.9850

In [122]:
eval_result = hypermodel.evaluate(X_test, y_test)

6/6 [==============================] - 0s 1ms/step - loss: 0.5407 - root_mean_squared_error: 0.7213

In [123]:
print("[test loss, test accuracy]:", eval_result)

[test loss, test accuracy]: [0.5406957864761353, 0.721299946308136]

In [124]:
hypermodel.save("./models/hypermodel")

INFO:tensorflow:Assets written to: ./models/hypermodel\assets

# Example Pipeline

In [100]:
import pickle

f = open("./models/linear_regression.sav", "rb")
model = pickle.load(f)
f.close()

f = open("./models/standard_scalar.sav", "rb")
standard_scaler = pickle.load(f)
f.close()

# Predicting salary for junior professional working at a large size company
y_pred = model.predict( [[1, 0, 0, 0, 1, 0, 0]] )
salary = standard_scaler.inverse_transform( y_pred )
salary

e:\Programme\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[79424.78706306]])